@font-face {
    font-family: League;
    src: url('./images/LeagueSpartan-Bold.otf');
  }
@font-face {
    font-family: "Grotesk";
    src: url("GroteskPro.woff") format('woff');
}

@font-face {
    font-family: "SFPro";
    src: url("SFPro.woff2") format('woff2');
}

@font-face {
    font-family: "SFProRegular";
    src: url("SFProRegular.woff2") format('woff2');
}

@font-face {
    font-family: "SFProText";
    src: url("SFProText.woff2") format('woff2');
}

body{
    font-family: 'Lato', sans-serif;
    font-family: "SFProText";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 .h7,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: #32325d
}
a:hover{
    text-decoration: none!important;
}
.main-fluid{
    background-image: url('./images/sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* /* border-radius: 0 0 50px 50px; */ 
    margin-bottom: 8vh;
    background-attachment: fixed;
}
.main-fluid .main-title{
    border: 3px solid #fff;
    text-transform: uppercase;
    background: transparent;
}

.row{
    margin-left: auto!important;
    margin-right: auto!important
}
.mt-lg{
    margin-top: 5vh;
}
/* Image containers */
.img-container{
    margin-left: 10vw;
}
.img-full{
    width: 100%;
}

.col-lg-6.modalBar{
    display:flex;
    float: right;
    justify-content: flex-end;
    margin-right: 3vw;
}

.side{
    padding: 0px 16px 0 8px;
    color: white;
    background-color: white;
    border-radius: 40px;
    max-width: 415px!important;
    margin-top: -7vh;
}
.mid-sec{
    background-image: url('./images/mid-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    margin-top: -15vh;
}

.divider{
    border: 1px solid #e12c2c!important;
}

.card .card-header{
    background-color: transparent;
    border-bottom: transparent;
}

.border-red{
    border-left: 1px solid #e12c2c!important;
}

.bg-container{
    clear: both;
    padding: 5vh 0;
}

.bg-container .bg-1{
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    /* box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5); */
    min-height: 80vh;
    padding-bottom: 20px;
}
.bg-container .bg-1 .card{
    margin-bottom: 20px;
}
.loader{
    position: fixed;
    z-index: 99;
    width: 100%;
    height:100%;
    background: rgba(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	/* min-width: 320px;
	/* max-width: 480px; */
	max-height: 360px;
	width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
    font-family: 'Lato', sans-serif;
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*---------------*/
/***** Image circle effect *****/
/*---------------*/

figure.effect-circle {
	/* background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
    background: linear-gradient(-45deg, #000 0%,#fff 100%); */
    background: #E4A546;
    border-radius: 30px;
}

figure.effect-circle img {
	margin: -10px 0 0 -10px;
	max-width: none;
	width: -webkit-calc(100% + 10px);
	width: calc(100% + 10px);
	opacity: 0.9;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(10px,10px,0);
	transform: translate3d(10px,10px,0);
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: -15vh;
}

figure.effect-circle figcaption::before,
figure.effect-circle p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-circle figcaption::before {
	position: absolute;
	right: -50px;
    bottom: -50px;
    width: 200px;
    height: 180px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transform: scale3d(0.5,0.5,1);
	transform: scale3d(0.5,0.5,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-circle:hover img {
    /* opacity: 0.6; */
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-circle h2 {
	text-align: center;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(5px,5px,0);
	transform: translate3d(5px,5px,0);
}

figure.effect-circle p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 0.5em 1.5em 0.8em;
	width: 140px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(20px,20px,0);
	transform: translate3d(20px,20px,0);
}

figure.effect-circle:hover figcaption::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-circle:hover h2,
figure.effect-circle:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Footer */
.footer{
    margin-top: 20px;
    background: #f7f7f7;
    padding: 50px;
    display: block;
    border-radius: 30px 30px 0 0;
    /* margin-top: 50px; */
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.footer:hover{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

.footer ul li{
    list-style: none;
    padding: 5px;
    position: relative;
    padding-left: 20px;
    width: 100%;
}

.footer ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 20px;
    border-left: 2px solid #e12c2c;
    width: fit-content;
    border-radius: 30px;
}

.footer ul li a ,.footer ol li a span{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.footer .top-bar{
    font-size: 20px;
    font-weight: 500;
}
.max-row{
    display: flex;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer img{
    margin: 10px
}
.footer ol{
    list-style: none;
    padding: 5px;
}
.footer ol li a {
    line-height: 42px;
    border: none;
}
.footer ol li a span{
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}
.footer ol li a span::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    transition: all 0.3s ease;
}
  .footer ol li a span:after {
    width: 20%;
    height: 2px;
  }
  .footer ol li a span:hover:after {
    width: 100%;
  }
  
/* Underline From Left */
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
.underline:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 20%;
    width: 0;
    bottom: -5px;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 10%;
    right: auto;
    width: 70%;
  }
  
.footer .col-md-4{
    padding-right: 30px;
    text-align: right;
}  
.footer h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-style: normal;
}

.footer h3 span {
    font-family: 'Lato', sans-serif;
    color: #e12c2c;
    border-top: 2px solid #e12c2c;
}

.vl::before {
    position: absolute;
    width: 2px;
    top: 40%;
    right: 30%;
    background: #e12c2c;
    content: "";
    margin-bottom: 50px;
    /* -webkit-transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center; */
    height: 3.625rem;
}

.slideCol{
    margin-left: 5vw;
}
/* contact-Us-SlideShow */
.slideshow-contactUs{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.cs-slide{
    display: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 30px;
    background-color: white;
}
/* Set all images must at least 430px */
.cs-slide img{
    object-fit: cover;
    min-height: 430px;
    border-radius: 30px;
}

/* Next & previous buttons */
.cs-prev,
.cs-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white!important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    /* prev button */
    padding: 16px 21px 16px 10px;
    border-radius: 0 100px 100px 0;
}
.cs-prev img,
.cs-next img{
    width: 15px;
}

/* Next & prev button hover effects */
.slideshow-contactUs:hover .cs-prev,
.slideshow-contactUs:hover .cs-next {
  opacity: 1;
}
.cs-slide:hover{
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5);
}
/* Position the "next button" to the right */
.cs-next{
    right: 0;
    border-radius: 100px 0 0 100px;
    padding: 16px 10px 16px 21px;
}

/* The dots/bullets/indicators */
.cs-dot {
    display: block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }
  
  .active, .cs-dot:hover {
    background-color: #e12c2c;
  }
  .verticalDot{
      float: left;
      margin-left: 3vw;
  }
  .slideTxt{
    margin-left: 4vw;
    max-width: 400px;
    font-family: League;
    padding: 20px 5px 10px 30px;
    max-height: 150px;
    position: relative;
  }
  div.slideTxt::after{
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top:20px;
    bottom: 0;
    width: 2px;
    height: 40%;
    background: #e12c2c;
  }
  

/* Fading animation */
.fade {
    opacity: 1!important;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

  /* Modal */
#csModal .modal-dialog .modal-content{
    background-image: url('./images/circle-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#csModal .modal-dialog .modal-content .modal-header {
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none!important;
}
#csModal .modal-dialog .modal-content .modal-header .modal-title{
    font-family: League;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin: 0 auto;
}
#csModal .modal-dialog .modal-content .card{
    margin-top: -20px;
    border-radius: 30px 30px 0 0;
    padding: 30px;
}

/* Cs Input */

.cs-input{
    border: 1px solid #bbb;
    outline: none;
    border-radius: 50px;
    padding: 10px 15px;
    min-width: 250px;
    margin: 10px;
}

#txtcomn{
    margin: 10px;
    border: 1px solid #bbb;
    outline: none;
    border-radius: 20px;
    padding: 20px 25px;
}

.cs-input:active,
.cs-input:focus,
#txtcomn:active,
#txtcomn:focus{
    border: 1px solid #e12c2c;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

table.cs-table th{
    text-align: center;
}

.cs-btn{
  outline: none;
  border: none;
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  border-radius: 10px;
}
.cs-btn img{
    width: 16px;
    /* When hover off / mouseoff Transition when the mouse leaves the element  */
    transition: 0.5s;
}
.cs-btn:hover{
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.3);
}
button[type=reset].cs-btn,
button[type=button].cs-btn{
    border-radius: 50px;
    padding: 10px 15px;
}
button[type=reset].cs-btn{
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
button[type=reset].cs-btn:hover img{
  transition: all 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
button[type=submit].cs-btn{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
button[type=submit].cs-btn:hover{
    background-position: right center;
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
}

button[type=button].cs-btn{
    padding: 14px 19px;
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 58%,#FFBAC3 100%);
    float: right;
}

button[type=button].cs-btn:hover{
    background-position: top right;
}

button[type=reset].cs-btn:focus,
button[type=button].cs-btn:focus{
    outline: none;
}

/* Lightbox */

.modal.lightbox{
    display: none;
    position: fixed;
    z-index: 1050;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
  }

/* Modal Content */
.lightbox .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 900px;
  }

  /* The Close Button */
  .lightbox .close {
    color: white;
    position: absolute;
    top: 8vh;
    right: 10vw;
    font-size: 50px;
    font-weight: bold;
    text-shadow:none;
    opacity: 1;
  }
  
  .lightbox .close:hover,
  .lightbox .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .lightboxSlide {
    display: none;
  }
  
/* Number text (1/3 etc) */
.slideNum {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  cursor{
      cursor: pointer;
  }

  .lightPrev,
  .lightNext{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .lightPrev img,
  .lightNext img{
    width: 50px;
  }

  .lightPrev{
      left: 4vw;
  }

  .lightNext{
      right: 4vw;
  }
  .lightPrev:hover,
  .lightNext:hover{
    background: rgba(255, 255, 255,0.5);
  }
  @media (min-width:1441px) {
        .col-lg-6.modalBar{
            margin-right: 5vw;
        }
        .side{
            margin-top: -10vh;
        }
        .vl::before{
            right: 20%;
        }

        .bg-container{
            padding: 5vh 0 0 0;
        }
  }


  /* About malaysia */
  .main-content{
    max-height: 80rem;
    min-height: 40rem;
    overflow: hidden;
    position: relative;
    top: 0;
    height: 90vh;
    color: white;
  }

  .full-slideshow{
      height: 100%;
  }
  .full-slideshow .slides{
    transition: opacity .8s,transform .8s;
    z-index: 3;
  }
  .full-slideshow .slides .slide-img{
      display: none;
      width: 100%;
      transition-duration: 1.6s;
      transition-timing-function: ease-in-out; 
  }
  .full-slideshow .slides img{
      max-width: 100%;
  }
  .centerTxt{
    max-width: 129rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .full-slideshow .midTxt{
      color: white;
      font-size: 8rem;
      font-weight: 800;
      width: 100%;
      text-align: center
  }

  .full-slideshow p{
      display: block;
      color: white;
  }

  .centerTxt button{
      outline: none;
      position: absolute;
      bottom: 20%;
      color: white;
      border: 2px solid white;
      border-radius: 2.2rem;
      padding: 1rem 3rem;
      text-transform: uppercase;
      font-size: 14px;
      background: transparent;
  }

  .centerTxt hr.bottom{
      position: absolute;
      bottom: 5%;
        height: 5%;
        border: 1px solid white;
  }
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .stickNav ul{
      text-align: center;
      list-style: none;
      margin: 0 auto;
      padding: 25px 0;
      background: white;
  }

  .stickNav ul li{
      display: inline;
      padding: 15px;
      text-transform: uppercase;
      font-size: 16px;
      
  }
  .stickNav ul li a{
    color: black;
    transition: color .3s ease-in;
  }
  .stickNav ul li a:hover{
    color:blue;
  }

  .stickNav hr{
      width : 50%;
      margin-top: 0;
      margin-bottom: 10vh;
  }

  .short-red{
      width:10%;
      border:  1px solid #e12c2c!important;
      margin-top: 20px;
  }

  .container .para{
    text-align: justify;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 800px;
    margin: 10px auto;
    font-weight: 200;
  }

  .expandBtn{
      outline: none;
      margin: 10vh auto;
      color: #e12c2c;
      padding: 12px 15px;
      border:none;
      border-top: 1px dashed #e12c2c;
      background: white;
  }

.expandBtn:focus{
      outline: none;
  }
  .expandBtn img{
    transition: all 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 12px;
    margin-left: 5px;
  }

  .expandBtn:hover img{
      margin-top: 8px;
  }
  .expandBtn#upBtn img{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .expandBtn#upBtn:hover img {
      margin-top: -8px;
  }

  #para2{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2;
    max-width: 800px;
    margin: 50px auto 10px;
  }

  .video-iframe video.media{
    min-width: 100%;
  }
    .gallery{
        max-width: 1290px;
        margin: 15vh auto 15px;
    }

  .gallery .imgs{
    max-width: 300px;
    height: 460px;
    margin: 0 10px;
    position: relative;
    transition: all 0.50s;
    background: transparent;
  }

  .gallery .imgs img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 47%;
      transition: all 0.50s;
      background: transparent;
  }


  .gallery .imgs:hover{
      margin-top: -10px;
      border-radius: 30px;
      box-shadow: 0 6px 15px rgba(36, 37, 38, 0.5);
  }
    .gallery .imgs:hover img{
        border-radius: 30px;
    }

  .gallery .imgs p{
      color: white;
      position: absolute;
      bottom: 15%;
      text-transform: uppercase;
      text-shadow: 0 0 5px #000;
  }


  .gallery .centerTxt .galBtn{
      position: absolute;
      background: white;
      color: black;
      border-radius: 30px;
      padding: 8px 16px;
      top: 5%;  
  }